body {
	font-family: 'Didact Gothic', sans-serif; 
}

/* sobrecargas no bootstrap */

.container{
	width: 100%;	
}
	.container .jumbotron{
		margin-top: 15px;
		border-radius: 0;
	}

	

		
		article p{
			padding:0.5em 0;
			text-align: justify;
		}